<div class="card my-5 col-12">
  <div class="row g-0">
    <div class="col-md-6">
      <img src="/assets/images/bg-glasses.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h2 class="card-title">About Us</h2>
        <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        </p>
        <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda veritatis laborum possimus reprehenderit error pariatur unde omnis nihil, placeat voluptatibus cum perferendis velit voluptas natus asperiores. Placeat veniam voluptas quos?
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
