<div class="container">
  <div class="flood-box">
  <div class="white"></div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-4 py-5">
      <h1 class="amatic-regular">{{product.name}}</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus aliquam nemo, eos eveniet quod dolores
        architecto nobis, molestias, veniam iure tenetur? Molestiae voluptatum quaerat, autem tenetur incidunt modi dolor.  Iusto.
      </p>

    </div>
    <div class="col-lg-6 col-md-8 py-5">
      <div class="circle bg-light shadow-lg">
        <img [src]="product.img">
      </div>
    </div>
  </div>
</div>
