h1 {
  text-align: justify;
  font-size: 9vw;
  @media all and (max-width: 768px) {
    & { font-size: 15vw }
  }
}

.contianer {
  overflow-x: hidden;
}

.circle {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  outline: 15px solid white;
  outline-offset: -40px;
  display: flex;
  justify-content: center;
  transition: all cubic-bezier(1, -0.8, 0, 1) 0.6s;
  align-items: center;

  &:hover {
    outline-offset: 160px;
    outline-width: 10px;
  }

  & img {
    max-width: 100%;
    max-height: 100%;
    transition: all cubic-bezier(1, -0.8, 0, 1) 0.6s;

    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));

    &:hover {
      transform: scale(1.5);
      filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, .5));
    }
  }
}

.flood-box {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  overflow: hidden;
}

.white {
  position: absolute;
  background-color: white;
  top: -80vw;
  left: 40vw;
  width: 150px;
  height: 200vw;
  transform: rotate(60deg);
  transition: all ease 0.5s;
  transition-delay: 0.5s;

  @media all and (max-width: 600px) {
    & {
      height: 200vh;
      left: 10vw;
      transform: rotate(30deg);
    }
  }
}
