<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand p-0">
      <img height="42" src="/assets/images/logo.png" alt="kaka" >
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" [routerLinkActive]="'border-bottom border-danger text-black'"
            [routerLinkActiveOptions]="{exact: true}">
            <i class="bi bi-house-door"></i>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/products']" [routerLinkActive]="'border-bottom border-danger text-black'"
            [routerLinkActiveOptions]="{exact: true}">

            <i class="bi bi-shop"></i>
            Products
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/add-product']" [routerLinkActive]="'border-bottom border-danger text-black'"
            [routerLinkActiveOptions]="{exact: true}">
            <i class="bi bi-database-add"></i>
            Add Product
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>