<h2>Latest Products</h2>
<app-card class="col-sm-6 col-md-4 col-lg-3"></app-card>
<app-card class="col-sm-6 col-md-4 col-lg-3"></app-card>
<app-card class="col-sm-6 col-md-4 col-lg-3"></app-card>
<app-card class="col-sm-6 col-md-4 col-lg-3"></app-card>
<app-card class="col-sm-6 col-md-4 col-lg-3"></app-card>
<app-card class="col-sm-6 col-md-4 col-lg-3"></app-card>
<app-card class="col-sm-6 col-md-4 col-lg-3"></app-card>
<app-card class="col-sm-6 col-md-4 col-lg-3"></app-card>
<app-card class="col-sm-6 col-md-4 col-lg-3"></app-card>
