<div class="card">
  <div class="actions my-2 mx-3 d-flex position-absolute">
    <i class="text-danger bi bi-x-circle-fill"></i>
    <i class="text-warning bi bi-wrench-adjustable-circle-fill"></i>
    <i class="text-success bi bi-arrow-up-right-circle-fill"></i>
  </div>
  <img [src]="product.img" class="card-img-top">
  <div class="card-body py-0">
    <h4 class="card-title">{{product.name}}</h4>
    <div class="d-flex justify-content-between">
      <h5 class="text-primary">$ {{product.price}}</h5>
      <span [ngClass]="{
        'bg-danger': product.qty === 0,
        'bg-warning text-dark': product.qty === 1,
        'bg-success': product.qty > 1
      }" class="badge rounded-pill align-self-start">
        {{
        product.qty > 1 ? product.qty + ' left' :
        product.qty == 1 ? 'only 1 left':
        'not availabe'
        }}
      </span>
    </div>
  </div>
  <div class="card-footer d-grid">
    <button [ngClass]="{
            'btn-outline-secondary': product.qty === 0,
            'btn-outline-warning': product.qty === 1,
            'btn-outline-success': product.qty > 1
        }"
        (click)="buy()"
        class="btn" [disabled]="!product.qty">
      {{product.qty? 'Buy Now' : 'Sold Out'}}
    </button>
  </div>
</div>